---
import heroImage from "@images/hero-image.avif";
import { Image } from "astro:assets";
---

<section
  class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
>
  <!-- Container for the testimonials -->
  <div
    class="lg:grid lg:grid-cols-12 lg:items-center lg:justify-between lg:gap-16"
  >
    <div class="lg:col-span-5 lg:col-start-1">
      <!-- Title and Subtitle -->
      <div class="mb-8">
        <h2
          class="mb-2 text-3xl font-bold text-desacode-700 dark:text-desacode-700 lg:text-4xl"
        >
          About Us
        </h2>

        <p class="text-neutral-600 dark:text-neutral-400">
          DesaCode is driven by a vision to democratize access to financial
          services, particularly in underserved communities across Indonesia.
          Through our comprehensive suite of BaaS solutions, we enable banks and
          financial institutions to streamline operations, enhance customer
          experiences, and expand their reach.
        </p>
      </div>
    </div>

    <Image
      src={heroImage}
      alt="logo"
      class="col-span-7 h-full w-full scale-110 object-cover object-center"
      draggable={"false"}
      loading={"eager"}
      format={"avif"}
    />
  </div>
</section>
