---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import FAQ from "@components/sections/FAQ.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import AboutSection from "@components/sections/testimonials/AboutSection.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import heroImage from "@images/hero-image.avif";
---

<MainLayout>
  <HeroSection
    title=`Simplifying Complexity, <span
        class="text-desacode-700 dark:text-desacode-700">Enabling Growth</span>`
    subTitle="Transform your business journey by simplifying complexities and unleashing unprecedented growth opportunities."
    primaryBtn="Start Exploring"
    primaryBtnURL="/services"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact"
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <!-- <ClientsSection
    title="Trusted by Industry Leaders"
    subTitle="Experience the reliability chosen by industry giants."
  /> -->

  <AboutSection
    title="About Us"
    subTitle="DesaCode is driven by a vision to democratize access to financial services, particularly in underserved communities across Indonesia. Through our comprehensive suite of BaaS solutions, we enable banks and financial institutions to streamline operations, enhance customer experiences, and expand their reach."
    abouts={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
  />

  <FeaturesGeneral
    title="Vision"
    subTitle="To become a company that is a driving force by creating innovative products as well as a bridging real life to digital life in all business sectors."
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />
  <!-- <FAQ title="Frequently<br />asked questions" faqs={faqs} /> -->

  <!-- <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->
</MainLayout>
